<div class="container">
  <nav class="page-nav">
    <img src="logo.svg" alt="logo" class="logo" style="width: 200px; height: 50px;">
  </nav>
  <div class="page-container">
    <div class="page-header-container">
      <h1>Dashboard</h1>
    </div>
    <header class="page-header">
      <div class="header-cards">
        <div class="header-card">
          <h3>Successful Login Attempts</h3>
          <p class="metric-value">
            {{ passedLoginAttempts }}
          </p>
        </div>
        <div class="header-card">
          <h3>Failed Login Attempts</h3>
          <p class="metric-value">
            {{ failedLoginAttempts }}
          </p>
        </div>
      </div>
    </header>
    <content>
      <div id="piechart" class="chart"></div>
      <div id="barchart" class="chart"></div>
    </content>
  </div>
</div>