/* You can add global styles to this file, and also import other style files */
@use 'app/styles/variables' as v;
@use 'app/styles/styles.scss';

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-weight: 500;
  margin: 0;
} 
html, body { height: 100%; }
